/*reset*/
html,body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	font: 14px/100% "微软雅黑", "Microsoft YaHei", arial;
}
html,body,ul,ol,li,h1,h2,h3,h4,h5,h6,p,dl,dt,dd {
	margin: 0;
	padding: 0;
}
a {
	text-decoration: none;
}
h1,h2,h3,h4,h5,h6 {
	line-height: 100%;
}
body {
	background-color: #eff2f6;
	color: #383a4c;
}
ul,ol,li {
	list-style: none;
}
input,select,textarea {
	outline: none;
	resize: none;
	font: 12px/100% "微软雅黑", "Microsoft YaHei";
}
a {
	outline: none;
	cursor: pointer;
	text-decoration: none;
	color: #383a4c;
}
img {
	vertical-align: middle;
	border: none;
}
.clear{
	clear: both;
	 _width: 0px;
	 _height: 0px;
	 _overflow: hidden;
	 _line-height: 0px;
}
.show{
	display: block;
}
.hide{
	display: none;
}
/*通用类*/
.w100 {
	width: 100%;
}
.border {
	border: 1px solid #d3d8df;
}
.w-fl-left {
	float: left;
}
.w-fl-right {
	float: right;
}
/*通用UI，按样式来命名，而不是按功能来命名*/
/*icon图标*/
.w-icon {
	background: url(../img/w-icon.png) no-repeat 5000px 5000px;
	width: 19px;
	height: 19px;
	display: inline-block;
	vertical-align: middle;
	margin: 0 5px 0 0;
	*margin: 3px 5px 0 0;
	overflow: hidden;
}
.w-icon-md {
	display: inline-block;
	vertical-align: middle;
	*line-height: 120%;
}
.w-icon-blue,
a:hover .w-icon {
	background-image: url(../img/w-icon-blue.png);
}
.w-icon-white,
a:hover .w-icon-white {
	background-image: url(../img/w-icon-white.png);
}
.w-icon-7 {
	background-position: 0 -208px;
}
.w-icon-8 {
	background-position: 0 -243px;
}
.w-icon-10 {
	background-position: 0 -314px;
}
.w-icon-14 {
	background-position: 0 -454px;
}
.w-icon-16 {
	background-position: 0 -522px;
}
.w-icon-28 {
	background-position: -31px -313px;
}
.w-icon-arrow {
	width: 10px;
	height: 7px;
	margin: 0 0 0 12px;
	display: inline-block;
	overflow: hidden;
	vertical-align: middle;
}
.w-icon-arrow, .w-icon-public{ 
	background: url(../img/w-arrow.png) no-repeat -20px -8px;
}
.w-icon-error{ 
	width: 19px;
	height: 19px;
	background-position: -29px -113px;
}
.w-icon-success{ 
	background-position: 0 -113px;
}
.w-icon-wan{
	background-position: -51px -113px;
}
.w-icon-warm{
	background-position: -73px -113px;
}
.intro-ico{ 
	background: url(../img/into-ico.png) no-repeat 5000px 5000px;
	width: 16px;
	height: 16px;
	display: inline-block;
	vertical-align: middle;
	margin: -1px 5px 0 0;
	overflow: hidden;
	*margin: 2px 5px 0 0;;
}
.word-ico {
	background-position: 0 0;
} 
.ppt-ico {
	background-position: -62px 0;
}
.excel-ico{
	background-position: -32px 0;
}
.video-ico{
	background-position: 0 -29px;
}
.audio-ico{
	background-position: -32px -28px;
}
.pic-ico{
	background-position: -62px -28px;
}
.pdf-ico{
	background-position: 0 -60px;
}
.txt-ico{
	background-position: -32px -60px;
}
.rar-ico{
	background-position: -62px -60px;
}
.rload-ico{ 
   background: url(../img/load_icon.png) no-repeat;
   width: 25px;
   height: 25px;
   display: inline-block;
}
.rdownload-icos{
	background-position: 0 0;
}
.rdownload-ico{
	background-position: -35px 0;
}
.rupload-icos{
	background-position: 0 -52px;
}
.rupload-ico{
	background-position: -35px -52px;
}
.rintro-icos{
	background-position: 0 -101px;
}
.rintro-ico{
	background-position: -35px -101px;
}
/*文字*/
.title-big{
    font-size: 16px;
} 
.title-small{
	font-size: 12px;
} 
.tip-font{
	font-size: 14px;
}
.text-green{
	color: #16b495;
}
.text-orange{
	color: #ff9600;
}
/*按钮*/
.w-btn {
	background-color: #189cfb;
	color: #fff;
	border: 1px solid #0979ca;
	display: inline-block;
	text-decoration: none;
	width: 158px;
	padding: 13px 0;
	text-align: center;
	font: 18px/1.125 "微软雅黑", "Microsoft YaHei", Arial;
	vertical-align: middle;
	border-radius: 3px;
}
.w-btn-red {
	background-color: #f86638;
	border-color: #d53f10;
}
.w-btn-red:hover,.w-btn-red.active {
	color: #fff;
	background-color: #ff8260;
}
.w-btn-red.press{
	background: #f75625;
}
.w-btn-blue{
 	background: #189cfb;
 	border-color: #0979ca;
}
/*列表*/
/*表格*/
.w-table{
	border: 1px solid #d3d8df;
	width: 100%;
}
.w-table tr{
	overflow: hidden;
	*zoom: 1;
}
/*loading效果*/
.loadingmask{
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000;
	filter: alpha(opacity=60);
	-ms-filter: "alpha(opacity=60)";
	opacity: .6;
	z-index: 10000;
	_position: absolute;
	_top: expression(eval(document.documentElement.scrollTop));
	_height: expression(eval(document.documentElement.clientHeight));
}
.loadingicon{
    position:fixed;
    left:50%;
    top:50%;
    margin-left:-16px;
    margin-top:-16px;
    display:none;
    z-index:10001;
}