{% extends 'base.html' %}

{% block base_content %}
<div class="container">
    <div class="col-sm-8">
        {% for blog in blogs %}

        <article>
            <div class="heading"><h2 class="title" style="text-transform:none;"><a href="/blog/{{blog._id}}">{{
                blog.title |safe }}</a></h2></div>
            <!--<img src="/static/images/img1.jpg"/>-->
            <div class="content">
                {{ (blog.summary)|safe }}...
            </div>
            <div class="extra">
                <div class="alert alert-success">
                    Admin 编辑于 {{blog.create_time}} - 0 评论 - 0 阅读
                    <div class="more">
                        <a class="button" href="/blog/{{blog._id}}">阅读全文 >></a>
                        {% if blog['could_delete'] and g.current_user.is_authenticated and g.current_user.could_edit() %}
                        <a class="button" href="/blog-edit?id={{ blog['_id'] }}" style="margin-left:20px;">编辑</a>
                        <!--<a class="button">删除</a>-->
                        {% endif %}
                    </div>
                </div>

                <div class="clear"></div>
            </div>
        </article>
        {% endfor %}
    </div>

    <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
        {% if g.current_user.is_authenticated and g.current_user.could_publish() %}
        <div class="sidebar-module">
            <a href="/blog-edit"><span class="btn btn-info">创建日志</span></a>
        </div>
        {% endif %}
        <div class="sidebar-module sidebar-module-inset">
            <h4>关于</h4>

            <p>这是一个有意思的地方</p>
        </div>
        <div class="sidebar-module">
            <h4>归档</h4>
            <ol class="list-unstyled">
                {% for item in monthes %}
                <li><a href="#">{{ item }}</a></li>
                {% endfor %}
            </ol>
        </div>
        <div class="sidebar-module">
            <h4>其他链接</h4>
            <ol class="list-unstyled">
                <li><a href="#">GitHub</a></li>
                <li><a href="#">新浪微博</a></li>
                <li><a href="#">网易博客</a></li>
            </ol>
        </div>
    </div>
    <!-- /.blog-sidebar -->
</div>
{% endblock %}

{% block base_scripts -%}
<script>
    $(function () {
        $('.delete').click(function () {
            if (confirm("确认删除吗?")) {
                var id = $(this).parents('tr').data('id');
//                    alert(id);
                $.post('/blog-delete', {id: id}, function (res) {
                    if (res.success) {
                        window.location.reload();
                    } else {
                        alert(res.error);
                    }
                }, 'json');
            }
        });
    });
</script>
{%- endblock %}