{% extends 'base.html' %}

{% block base_content %}

<div class="container">

    <div class="blog-header">
        <h1 class="blog-title">{{blog.title|safe}}</h1>
        <input hidden="hidden" type="text" id="id" value="{{blog.id|safe}}">
        {% if blog.description %}
        <p class="lead blog-description">{{blog.description}}</p>
        {% endif %}
    </div>

    <div class="row">

        <div class="col-sm-8 blog-main">

            <div class="">
                <span class="">阅读({{blog.view_count}})</span>
                <span class="">|</span>
                <span class="">评论({{blog.comment_num}})</span>
                {% if g.current_user.is_authenticated and g.current_user.could_edit() %}
                <span class="">|</span>
                <span class=""><a href="/blog-edit?id={{blog._id}}">编辑</a></span>
                {% endif %}
                {% if g.current_user.is_authenticated and g.current_user.could_edit() %}
                <span class="">|</span>
                <span class=""><a id='btnDelete'>删除</a></span>
                {% endif %}
            </div>
            <!-- /.blog-post -->
            <!--<div>操作栏，删除，编辑，阅读，评论等</div>-->
            <div class="blog-post">
                <!--<h2 class="blog-post-title">{{blog.title}}</h2>-->
                <p class="blog-post-meta">{{blog.create_time|safe}} by <a href="#">{{blog.author|safe}}</a></p>
                {{blog.content|safe}}
            </div>
            <nav>
                <ul class="pager">
                    {% if prev %}
                    <li><a href="/blog/{{prev}}">Previous</a></li>
                    {% else %}
                    <li>已经是第一篇了</li>
                    {% endif %}
                    {% if next %}
                    <li><a href="/blog/{{next}}">Next</a></li>
                    {% else %}
                    <li>已经是最后一篇了</li>
                    {% endif %}
                </ul>
            </nav>

        </div>
        <!-- /.blog-main -->

        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
            <div class="sidebar-module sidebar-module-inset">
                <h4>关于</h4>

                <p>这是自由的国度，你来对地方了</p>
            </div>
            <div class="sidebar-module">
                <h4>归档</h4>
                <ol class="list-unstyled">
                    {% for item in monthes %}
                    <li><a href="#">{{ item }}</a></li>
                    {% endfor %}
                </ol>
            </div>
            <div class="sidebar-module">
                <h4>相关链接</h4>
                <ol class="list-unstyled">
                    <li><a href="#">GitHub</a></li>
                    <li><a href="#">weibo</a></li>
                    <li><a href="#">netease blog</a></li>
                </ol>
            </div>
        </div>
        <!-- /.blog-sidebar -->

    </div>
    <!-- /.row -->

</div><!-- /.container -->

<footer class="blog-footer">
    <p>Blog template built for <a href="http://getbootstrap.com">Bootstrap</a> by <a
            href="https://twitter.com/mdo">@mdo</a>.</p>
</footer>

{% endblock %}

{% block base_scripts -%}
    <script>
        $(function () {
            $('#btnDelete').click(function () {
                $.ajax({
                    type: 'get',
                    url: '/blog-delete?id=' + $('#id').val(),
                    dataType: 'json',
                    success: function (res) {
                        alert(res.error);
                        if (res.success) {
                            window.location = "/blogs";
                        }
                    }
                });
            });
        });

    </script>
{%- endblock %}