{% extends 'base.html' %}

{% block base_content %}

<div class="container">

    <div class="blog-header">
        <h1 class="blog-title">{{blog.title|safe}}</h1>
        {% if blog.description %}
        <p class="lead blog-description">The official example template of creating a blog with Bootstrap.</p>
        {% endif %}
    </div>

    <div class="row">

        <div class="col-sm-8 blog-main">

            <div class="blog-post">
                <!--<h2 class="blog-post-title">{{blog.title}}</h2>-->
                <p class="blog-post-meta">{{blog.create_time|safe}} by <a href="#">{{blog.author|safe}}</a></p>
                {{blog.content|safe}}
            </div>
            <!-- /.blog-post -->
            <!--<div>操作栏，删除，编辑，阅读，评论等</div>-->
            <div class="">
                <span class="">阅读({{blog.view_count}})</span>
                <span class="">|</span>
                <span class="">评论({{blog.comment_num}})</span>
                <span class="">|</span>
                <span class=""><a href="/blog-edit?id={{blog._id}}">编辑</a></span>
                <span class="">|</span>
                <span class=""><a href="/blog-delete?id={{blog._id}}">删除</a></span>
            </div>
            <nav>
                <ul class="pager">
                    {% if prev %}
                    <li><a href="/blog/{{prev}}">Previous</a></li>
                    {% else %}
                    <li>已经是第一篇了</li>
                    {% endif %}
                    {% if next %}
                    <li><a href="/blog/{{next}}">Next</a></li>
                    {% else %}
                    <li>已经是最后一篇了</li>
                    {% endif %}
                </ul>
            </nav>

        </div>
        <!-- /.blog-main -->

        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
            <div class="sidebar-module sidebar-module-inset">
                <h4>About</h4>

                <p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet
                    fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
            </div>
            <div class="sidebar-module">
                <h4>Archives</h4>
                <ol class="list-unstyled">
                    <li><a href="#">March 2014</a></li>
                    <li><a href="#">February 2014</a></li>
                    <li><a href="#">January 2014</a></li>
                    <li><a href="#">December 2013</a></li>
                    <li><a href="#">November 2013</a></li>
                    <li><a href="#">October 2013</a></li>
                    <li><a href="#">September 2013</a></li>
                    <li><a href="#">August 2013</a></li>
                    <li><a href="#">July 2013</a></li>
                    <li><a href="#">June 2013</a></li>
                    <li><a href="#">May 2013</a></li>
                    <li><a href="#">April 2013</a></li>
                </ol>
            </div>
            <div class="sidebar-module">
                <h4>Elsewhere</h4>
                <ol class="list-unstyled">
                    <li><a href="#">GitHub</a></li>
                    <li><a href="#">Twitter</a></li>
                    <li><a href="#">Facebook</a></li>
                </ol>
            </div>
        </div>
        <!-- /.blog-sidebar -->

    </div>
    <!-- /.row -->

</div><!-- /.container -->

<footer class="blog-footer">
    <p>Blog template built for <a href="http://getbootstrap.com">Bootstrap</a> by <a
            href="https://twitter.com/mdo">@mdo</a>.</p>
</footer>

{% endblock %}