{% extends 'base.html' %}
{% block base_content %}
<script type="text/javascript" charset="utf-8" src="../../static/ueditor/ueditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="../../static/ueditor/ueditor.all.min.js"> </script>
<script type="text/javascript" charset="utf-8" src="../../static/ueditor/lang/zh-cn/zh-cn.js"></script>

<!--<link rel="stylesheet" href="../../static/3rd/selectize/css/normalize.css">-->
<!--<link rel="stylesheet" href="css/stylesheet.css">-->
<link rel="stylesheet" href="../../static/3rd/selectize/css/selectize.legacy.css">
<script src="../../static/3rd/jquery/jquery.js"></script>
<script src="../../static/3rd/selectize/js/selectize.js"></script>
<!--<script src="../../static/3rd/selectize/js/index.js"></script>-->

<div class="container">
    <div id="legend" class="">
        <legend class="">编辑日志</legend>
    </div>

    <div class="controls">
        {% if blog %}
        <input hidden="hidden" type="text" id="id" value="{{blog.id}}">
        <input type="text" placeholder="输入标题" id="title" class="form-control" value="{{blog.title}}">
        {% else %}
        <input hidden="hidden" type="text" id="id" value="">
        <input type="text" placeholder="输入标题" id="title" class="form-control">
        {% endif %}

        <p class="help-block"></p>
    </div>

    <div>
        <script id="editor" type="text/plain"></script>
        <!--<script id="editor" type="text/plain" style="width:1024px;height:500px;"></script>-->

        <br/>
        <br/>


        <link rel="stylesheet" href="../../static/3rd/selectize/css/normalize.css">
		<link rel="stylesheet" href="../../static/3rd/selectize/css/stylesheet.css">
        <div id="wrapper">
            <div class="control-group">
                <label for="select-tags">标签:</label>
                <select id="select-tags" multiple name="tags[]" class="demo-default" style="width:50%">
                    <option value="">选择或新建标签...</option>
                    {% for tag in blog.tags %}
                        <option value={{tag}} selected>{{tag}}</option>
                    {% endfor %}
                </select>
            </div>
            <script>

            var $select = $('#select-tags').selectize({
                create          : true,
                options: [
						{id: 1, title: 'Spectrometer', url: 'http://en.wikipedia.org/wiki/Spectrometers'},
						{id: 2, title: 'Star Chart', url: 'http://en.wikipedia.org/wiki/Star_chart'},
						{id: 3, title: 'Electrical Tape', url: 'http://en.wikipedia.org/wiki/Electrical_tape'}
					],
            });
            </script>
		</div>

        <!--<select id="select" multiple name="tags[]" class="demo-default" style="width:100%">-->
            <!--<option value=''>choose one</option>-->
            <!--<option value='abc'>abc</option>-->
            <!--<option value='cdc'>cdc</option>-->
            <!--<option value='eec'>eec</option>-->
        <!--</select>-->
        <!--&lt;!&ndash;<script type="text/javascript" src="selectize.js"></script>&ndash;&gt;-->
        <!--<link rel="stylesheet" type="text/css" href="../../static/3rd/selectize/css/selectize.default.css"/>-->
        <!--<script>-->
<!--//            $(function () {-->
<!--//                $('#select').selectize({-->
<!--//                    create: true-->
<!--//                });-->
<!--//            });-->
            <!--var $select = $('#select').selectize({-->
                <!--create          : true,-->
            <!--});-->
        <!--</script>-->

        <div class="control-group">
            <label class="control-label"></label>
            <br/>
            <br/>
            <label class="radio-inline">
                <input type="radio" name="visible" id="visible1" value="1"> 所有人可见
            </label>
            <label class="radio-inline">
                <input type="radio" name="visible" id="visible2" value="2"> 登录可见
            </label>
            <label class="radio-inline">
                <input type="radio" name="visible" id="visible3" value="3"> 仅自己可见
            </label>
            <br/>
            <br/>
            <!-- Button -->
            <div class="controls">
                <a class="btn btn-success" id="btnSubmit" href="javascript:void(0);">提交</a>
                <a class="btn btn-info" id="btnSave">保存</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block base_scripts -%}
<script type="text/javascript">
    var data = {{ data | safe }};
</script>

<script>
    <!--初始化editor-->
    var ue = UE.getEditor('editor',
            {
                autoHeightEnabled: true,
//                    serverUrl: "/upload"
                serverUrl: "/file/ueditor/upload"
            }
    );

    ue.ready(function(){
        if (data.content !== undefined) {
            ue.setContent(data.content);
            checked_value = data.visible.toString();
            $("input[name='visible'][value="+checked_value+"]").attr("checked", true);
        }
    });

    $(function () {
        $('#btnSubmit').click(function () {
            var content = UE.getEditor('editor').getContent();
//            alert($('#select-tags').val());
            $.ajax({
                type: 'post',
                url: '/blog-edit',
                data: {
                    id: $('#id').val(),
                    title: $('#title').val(),
                    visible: $("input[name='visible']:checked").val(),
                    tags: $('#select-tags').val(),
                    content: content
                },
                dataType: 'json',
                success: function (res) {
                    alert(res.error);
                    if (res.success) {
                        window.location = "/blog/" + res.blog._id;
                    }
                }
            });
        });
        $('#btnSave').click(function () {
            var content = UE.getEditor('editor').getContent();
            $.ajax({
                type: 'post',
                url: '/blog-edit',
                data: {
                    id: $('#id').val(),
                    title: $('#title').val(),
                    visible: $("input[name='visible']:checked").val(),
                    tags: $('#select-tags').val(),
                    content: content
                },
                dataType: 'json',
                success: function(res) {
                    alert(res.error);
                    if (res.success) {
                        window.location = "/blog-edit?id=" + res.blog._id;
                    }
                }
            });
        });
    });

</script>
{%- endblock %}