{% extends 'base.html' %}
{% block base_styles %}
    <link type="text/css" rel="stylesheet" href="/static/css/common.css" />
{% endblock %}
{% block base_content -%}
    <div class="container-fluid">
        <table class="table table-bordered table-striped table-hover table-condensed">
            <thead>
                <tr>
                    <th>表头一</th>
                    <th>表头二</th>
                    <th>表头三</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
            <tr>
                <td>内容1</td>
                <td>内容2</td>
                <td>内容3</td>
                <td>
                    <a class="btn btn-primary" href="">进入</a>
                </td>
            </tr>
            <tr>
                <td>内容四</td>
                <td>内容五</td>
                <td>内容六</td>
                <td>
                    <a class="btn btn-primary" href="">进入</a>
                </td>
            </tr>
            <tr>
                <td>内容7</td>
                <td>内容8</td>
                <td>内容9</td>
                <td>
                    <a class="btn btn-primary" href="">进入</a>
                </td>
            </tr>

                <tr>
                    <td>内容11</td>
                    <td>内容12</td>
                    <td>内容13</td>
                    <td>
                        <a class="btn btn-primary" href="">进入</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
{%- endblock %}