<div class="row">
    <div class="col-xs-1"></div>
</div>
<div class="row">
    <div class="col-xs-4">
        <div id="container1"></div>
    </div>
    <div class="col-xs-1"></div>
    <div class="col-xs-4">
        <div id="container2"></div>
    </div>
</div>
<div class="row">
    <div class="col-xs-4">
        <div id="container3"></div>
    </div>
    <div class="col-xs-1"></div>
    <div class="col-xs-4">
        <div id="container4"></div>
    </div>
</div>
<div class="row">
    <div class="col-xs-4">
        <div id="container5"></div>
    </div>
    <div class="col-xs-1"></div>
    <div class="col-xs-4">
        <div id="container6"></div>
    </div>
</div>