
/* common */
.label-tag {background-color: #e1e1e1; color: #111;}  /* 配合bootstrap .label用 */
.bootstrap-tagsinput {margin-bottom: 0; line-height: 32px; padding: 0 6px;}  /* 覆盖.bootstrap-tagsinput */
.selectize-input {overflow: inherit;}  /* 覆盖 .selectize-input */
.bg_hover_1 {background-color: #efefef;}

/*-----试题列表-----*/
.questionBox {font-size: 12px; font-family: Tahama, 'Microsoft YaHei', serif}
.questionBox .line {margin-bottom: 5px;}
.questionBox .line span {display: inline-block; margin-right: 20px;}
.questionBox .line .label {display: inline-block; margin-right: 20px; font-size: 12px; font-weight: normal;}
.questionBox .choice-option {counter-reset: myCounter; list-style: none;}
.questionBox .choice-option li:before {content: counter(myCounter, upper-alpha) '.'; counter-increment: myCounter; font-weight: bold; float: left; margin-right: 10px;}
.questionBox .choice-option li {white-space: pre;}
.questionBox .difficulty-star > i {cursor: pointer;}
.questionBox .knowledge_points span:hover {cursor: pointer; text-decoration: line-through; color: #f00;}

#questionEditWrapper {counter-reset: subContentCounter;}
#questionEditWrapper .addSubContent {color: #999; border: 1px dashed #999; margin-right: 20px; padding: 6px 14px; float: left;}
.questionEditBox {font-size: 12px; font-family: Tahama, 'Microsoft YaHei', serif}
.questionEditBox .label {width: 100%; font-size: 12px; font-weight: normal; margin-right: 20px;}
.questionEditBox .editOuter{margin-bottom: 20px; background-color: #f3f3f3; padding: 3px 3px 0 3px;}
.questionEditBox .editArea {max-width: 800px; min-height: 30px; border-bottom: 1px solid #C3C3C3;}
.questionEditBox .editArea:hover{background-color: #fff;}
.questionEditBox input[type=text] {width: 800px; min-height: 35px; border: 1px solid #777; }
.questionEditBox .addOption, .questionEditBox .addBlank {margin-bottom: 20px; color: #999; border: 1px dashed #999; width: 77px; padding: 6px 14px;}
.questionEditBox .addOption:hover, .questionEditBox .addBlank:hover, #questionEditWrapper .addSubContent:hover {color: #000; background-color: #F0F0F0; cursor: pointer;}
.questionEditBox {counter-reset: optionCounter answerCounter;}
.questionEditBox .subContentIndex:after {counter-increment: subContentCounter; content: counter(subContentCounter);}
.questionEditBox .answerIndex:after {counter-increment: answerCounter; content: counter(answerCounter);}
.questionEditBox .optionIndex:after {counter-increment: optionCounter; content: counter(optionCounter, upper-alpha);}
