{% import 'macros/sugar.html' as sugar %}

{% macro paper_type() %}
<div class="form-group">
    <label class="col-sm-2 control-label">题型:</label>
    <div class="col-sm-2">
        <div class="optionitem" data-bind="text: content.sub_contents()[0].sub_content_type()"></div>
    </div>
    <label class="col-sm-2 control-label">二级题型:</label>
    <div class="col-sm-2">
        <div class="optionitem" data-bind="text: content_type()"></div>
    </div>
    <label class="col-sm-2 control-label">二级题型:</label>
    <div class="col-sm-2">
        <div class="optionitem" data-bind="text: content_type_2()"></div>
    </div>
</div>
{% endmacro %}

{% macro choose_paper() %}
<div class="form-group">
    <label class="col-sm-2 control-label">所属试卷</label>
    <div class="col-sm-10">
        <div class="form-group" data-bind="if: papers().length > 0, visible: papers().length > 0">
            <div class="col-sm-10" data-bind="foreach: papers">
                <div>
                    <span data-bind="text: title"></span>  
                    第<span data-bind="text: number"></span>题  
                    &nbsp;&nbsp;&nbsp;
                    <a target="_blank" data-bind="attr: { href: '/xx/papers/paper-manage-questions?paper_id=' + paper_id }">查看试卷</a>
                    &nbsp;&nbsp;&nbsp;
                    <a href="#" data-bind="click: $parent.delete_paper.bind($data, $parent)">删除</a>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-5">
                <input class="form-control" list="__choose_papers" data-bind="value: choose_ownerpaper_value, event: { input: update_choose_papers }, valueUpdate: 'input'">
                <datalist id="__choose_papers" data-bind="foreach: choose_ownerpaper_array">
                    <option data-bind="attr: { value: papername }"></option>
                </datalist>
            </div>
            <label class="col-sm-2 control-label">题号：</label>
            <div class="col-sm-3">
                <select data-bind="foreach: question_index_array, value: question_index_value" class="form-control">
                    <option data-bind="attr: { value : $data }, text: $data"></option>
                </select>
            </div>
            <div class="col-xs-2">
                <button data-bind="click : add_paper" class="btn btn-primary">确定</button>
            </div>
        </div>
    </div>
</div>
{{ sugar.resource(js=['M_choose_paper']) }}
{% endmacro %}

{% macro knowledge() %}
<div class="form-group">
    <label class="col-sm-2 control-label">题目知识点</label>
    <div class="col-sm-10">
        <div class="form-group" data-bind="foreach : knowledge_points_b">
            <div>
                知识点<span data-bind="text : $data"></span>
                <span data-bind="visible : $parent.inArray($data, $parent.knowledge_points())">主知识点</span>
                <a href="javascipt:void(0)" data-bind="click: function(){ $parent.knowledge_points_b.remove($data); }">删除</a>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-3">
                <input type="text" class="treeDialog form-control">
            </div>
            <div class="col-sm-3">
                <label class="radio-inline">
                    <input type="checkbox" data-bind="checked : set_main_nlg_q">设为主知识点
                </label>
            </div>
            <div class="col-sm-2">
                <button class="btn btn-primary" data-bind="click : add_knowledge_q">新增考点</button>
            </div>
        </div>
    </div>
</div>
{% endmacro %}

{% macro difficulty() %}
<div class="form-group">
    <label class="col-sm-2 control-label">难度值</label>
    <div class="col-sm-2">
        <select class="form-control" data-bind="options: difficulty_list, optionsValue: '0', optionsText: '1', value: difficulty_int"></select>
    </div>
</div>
{% endmacro %}

{% macro upload_audio() %}
<div class="form-group" data-bind="if: has_listen() == 1, visible: has_listen() == 1">
    <label class="col-sm-2 control-label">听力材料</label>
    <div class="col-sm-10">
        <div class="form-group">
            <div class="files" data-bind="if: content.sub_contents()[0].listen_url() != '', visible: content.sub_contents()[0].listen_url() != ''">
                <div class="panel panel-default">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td data-bind="text: content.sub_contents()[0].listen_name"></td>
                                <td style="width: 50px;">
                                    <audio preload="none" data-bind="attr: { src: content.sub_contents()[0].listen_url }" controls></audio>
                                </td>
                                <td style="width: 50px;">
                                    <a class="glyphicon glyphicon-remove" data-bind="click: function(){ content.sub_contents()[0].listen_url(''); content.sub_contents()[0].listen_name(''); }"></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <span class="btn btn-success fileinput-button">
                <i class="glyphicon glyphicon-plus"></i>
                <span>上传音频</span>
                <input id="fileupload" type="file" name="files[]" multiple>
            </span>
        </div>
        <div class="form-group">
            <div id="progress" class="progress">
                <div class="progress-bar progress-bar-success"></div>
            </div>
        </div>
    </div>
</div>
{% endmacro %}






{% macro get_papers() %}
<div class="form-group">
    <label class="col-sm-2 control-label">所属试卷</label>
    <div class="col-sm-10">
        <div class="form-group">
            <div class="col-sm-5">
                <input class="form-control" list="__choose_papers" data-bind="value: choose_ownerpaper_value, event: { input: update_choose_papers }, valueUpdate: 'input'">
                <datalist id="__choose_papers" data-bind="foreach: choose_ownerpaper_array">
                    <option data-bind="attr: { value: papername }"></option>
                </datalist>
            </div>
        </div>
    </div>
</div>
{{ sugar.resource(js=['M_get_papers']) }}
{% endmacro %}

{% macro addQuestionHtml(content_types,paperId) %}
    <div id="addQuestionHtmlBox" class="text-left" style="padding: 10px;height:54px;">
        <div class="col-sm-2 pull-left">
            <select data-bind="options: selectQuestionTypeData, optionsText: 'name', value: selectedQuestionType" class="form-control"></select>
        </div>

        <!-- ko with:selectedQuestionType -->
            <!-- ko if: children.length > 0 -->
            <div class="col-sm-3 pull-left">
                <select data-bind="options: children, optionsValue: 'id', optionsText: 'name', value : $parent.selectedChildrenQuestionType" class="form-control selectqtype"></select>
            </div>
            <!-- /ko -->
        <!-- /ko -->
        <div class="col-sm-1">
            <a href="javascript:void(0);" data-bind="click: addQuestion" class="btn btn-primary">添加</a>
        </div>
        <label class="control-label col-sm-2 form_option_text" for="__hide_option_number" data-bind="visible: selectedQuestionType().name != '口语' ">
            <input type="checkbox" id="__hide_option_number" data-bind="checked: complex, value: complex">
            复合题
        </label>
    </div>

    <script type="text/javascript">
        var addQuestionHtmlVM = {
            selectQuestionTypeData       : ko.observableArray(JSON.parse('{{ content_types }}')),
            selectedQuestionType         : ko.observable(),
            selectedChildrenQuestionType : ko.observable(),
            complex                      : ko.observable(false),
            getHref                      : function(){
                var href = '/xx/questions/edit?content_type_id=' + this.selectedQuestionType().id;
                var type_2_id = $('div.selectqtype .item').data('value');
                href += '&content_type_2_id='+type_2_id;
                href += '&subject_id={{ (g.subject_id) or "" }}&paper_id={{ paperId }}';
                href += '&complex=' + (this.complex() ? 1 : 0);
                return href;
            },
            addQuestion                  : function(){
                window.open(addQuestionHtmlVM.getHref());
            }
        };

        addQuestionHtmlVM.selectedQuestionType.subscribe(function(newType){
            if(newType.name == '口语'){
                addQuestionHtmlVM.complex(false);
            }
            //初始化添加试题的下拉框，转为可搜索的下拉框
            if(typeof qtypeSelect != 'undefined' && qtypeSelect.length>0){
                var control = qtypeSelect[0].selectize;
                control.destroy();
                setTimeout(function(){
                    window.qtypeSelect = $('.selectqtype').selectize();    
                });
            }
        });
    </script>
{% endmacro %}

{% macro showTitleDetaile(from) %}
    <div data-bind="attr: {id: $parentContext.$index ? 'collapse_'+$parentContext.$index()+'_'+$index() : 'collapse_'+$index(), 'aria-labelledby': $parentContext.$index ? 'heading_'+$parentContext.$index()+'_'+$index() : 'heading_'+$index()}, css: {in: $index()==0}" class="panel-collapse collapse" role="tabpanel">
        <div class="panel-body question_panel">
            <form class="form-horizontal">

                <div class="form-group">
                    <label class="col-sm-1 control-label">编号：</label>
                    <div class="col-sm-2 form_option_text" data-bind="text: nid"></div>
                    {% if from != 'my-console' %}
                    <label class="col-sm-2 control-label">题目录入人：</label>
                    <div class="col-sm-4 form_option_text" data-bind="text: typeof creator_name != 'undefined' ? creator_name : ''"></div>
                    {% endif %}
                </div>

                <div class="form-group">
                    <label class="col-sm-1 control-label">题型：</label>
                    <div class="col-sm-2 form_option_text" data-bind="text: content_type"></div>
                    <label class="col-sm-2 control-label">二级题型：</label>
                    <div class="col-sm-4 form_option_text" data-bind="text: content_type_2"></div>
                </div>

                <div class="form-group">
                    <label class="col-sm-1 control-label">所属试卷：</label>
                    <div class="col-sm-10 form_option_text">
                        <!-- ko foreach : {data : $data.papers, as : 'papers'}-->
                        <div class="row">
                            <a target="_blank" data-bind="text: papers['title']+ '  第' + papers['number'] + '题', attr:{ href: '/xx/papers/paper-manage-questions?paper_id='+papers['paper_id'] } " href="#"></a>
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            <b>模块名称：</b>
                            <span data-bind="text: papers['part_title'] || '无'"></span>
                        </div>
                        <!-- /ko -->
                    </div>
                </div>

                <!-- ko if:$data.workbooks -->
                <div class="form-group">
                    <label class="col-sm-1 control-label">所属教辅：</label>
                    <div class="col-sm-10 form_option_text">
                        <!-- ko foreach : {data : $data.workbooks, as : 'workbook'}-->
                        <div class="row">
                            <a data-bind="text: workbook['workbook_catalog_id'], attr: {'data-wcid': workbook['workbook_catalog_id'], href: '/workbook/content-manage?workbook_catalog_id='+workbook['workbook_catalog_id']}" data-content="<br><br><br>loading...<br><br><br>" target="_blank" role="button" data-toggle="popover" data-trigger="focus" class="popinfo"></a>
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            <b>模块名称：</b>
                            <span data-bind="text: workbook['part_title'] || '无'"></span>
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            <b>题号：</b>
                            <span data-bind="text: workbook['part_number']"></span>
                            <!-- ko if: workbook.has_listen -->
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            <b>题号voicetext：</b>
                            <span data-bind="text: workbook['part_number_voice_text']"></span>
                            <audio class="vat" data-bind="attr: {src: '/workbook/content-question-number-listen?workbook_catalog_id='+workbook.workbook_catalog_id+'&question_id='+$parent._id}" controls preload="none"></audio>
                            <!-- /ko -->
                        </div>
                        <!-- /ko -->
                    </div>
                </div>
                <!-- /ko -->

                <div class="form-group">
                    <label class="col-sm-1 control-label">作答说明：</label>
                    <div class="col-sm-10 form_option_text" data-bind="text: description"></div>
                </div>

                <div class="form-group" data-bind="visible: content['content']">
                    <label class="col-sm-1 control-label">大题题干：</label>
                    <div class="col-sm-10 form_option_text wpre" style="word-wrap: break-word;" data-bind="html: content['content']"></div>
                </div>

                <div class="form-group" data-bind="if: listen_name">
                    <label class="col-sm-1 control-label">多媒体：</label>
                    <div class="col-sm-3" data-bind="if: listen_url"><audio preload="none" data-bind="attr: {src: listen_url}" controls></audio></div>
                    <div class="col-sm-7 form_option_text" data-bind="text: listen_name"></div>
                </div>

                <!-- ko content.sub_contents.length > 0 -->
                <div data-bind="foreach: content.sub_contents">
                    <div class="bg-info subitem"  style="margin-top:10px;padding-bottom:1px;">
                        <!-- ko if: typeof $parent.resources != 'undefined' && $parent.resources.length > 0 -->
                        <div class="form-group" data-bind="if: $parent.resources[0].url.length > 0">
                            <label class="col-sm-1 control-label">多媒体：</label>
                            <div class="col-sm-3"><audio preload="none" data-bind="attr: {src: $parent.resources[0].url}" controls></audio></div>
                            <div class="col-sm-7 form_option_text" data-bind="text: $parent.resources[0].filename"></div>
                        </div>
                        <div class="form-group" data-bind="visible: $parent.resources[0].text.length > 0">
                            <label class="col-sm-1 control-label">所属材料：</label>
                            <div class="col-sm-10 form_option_text content_preview" style="word-wrap: break-word;" data-bind="html: $parent.resources[0].text"></div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-1 control-label"></label>
                            <div class="col-sm-1">
                                <a class="btn btn-block label label-info" target="_blank" data-bind="attr: { href: '/xx/resources/edit?resource_id=' + $parent.resources[0]._id }">查看</a>
                            </div>
                        </div>
                        <!-- /ko -->

                        <!-- ko if: [11, 12, 13].indexOf(sub_content_type_id) > -1 -->
                        <div class="form-group">
                            <label class="col-sm-1 control-label">小题题干：</label>
                            <div class="col-sm-10 form_option_text content_preview wpre">
                                <img data-bind="attr: { src: oral_dict.pic_url }" style="max-width: 300px; max-height: 300px;" alt=""/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-1 control-label"></label>
                            <div class="col-sm-10 form_option_text content_preview" data-bind="text: content"></div>
                        </div>
                        <!-- /ko -->
                        <!-- ko ifnot: [11, 12, 13].indexOf(sub_content_type_id) > -1 -->
                        <div class="form-group">
                            <label class="col-sm-1 control-label">小题题干：</label>
                            <div class="col-sm-10 form_option_text content_preview wpre" style="word-wrap: break-word;" data-bind="html: content"></div>
                        </div>
                        <!-- /ko -->


                        <div class="form-group" data-bind="if: listen_name">
                            <label class="col-sm-1 control-label">多媒体：</label>
                            <div class="col-sm-3" data-bind="if: listen_url"><audio preload="none" data-bind="attr: {src: listen_url}" controls></audio></div>
                            <div class="col-sm-7 form_option_text" data-bind="text: listen_name"></div>
                        </div>

                        <div class="form-group" data-bind="visible: options.length > 0 && sub_content_type_id != 11 && sub_content_type_id != 13 && sub_content_type_id != 15">
                            <label class="col-sm-1 control-label">选项：</label>
                            <div class="col-sm-10 form_option_text" data-bind="foreach: options">
                                <div class="row">
                                    <div class="col-sm-8">
                                        <div class="row">
                                            <!-- ko switch: $parent.sub_content_type_id+'' -->
                                                <!-- ko case: '7' -->
                                                    <!-- ko foreach: $data.option -->
                                                        <b class="col-sm-2 text-right" data-bind="text: ($parentContext.$index()+1)+'-'+($index()+1)"></b>
                                                        <div class="col-sm-10" style="word-wrap: break-word;" data-bind="html: $data"></div>
                                                    <!-- /ko -->
                                                <!-- /ko -->
                                                <!-- ko case: '8' -->
                                                    <b class="col-sm-1 text-right" data-bind="text: $index()+1"></b>
                                                    <div class="col-sm-11" style="word-wrap: break-word;" data-bind="html: option"></div>
                                                <!-- /ko -->
                                                <!-- ko case: '9' -->
                                                    <b class="col-sm-1 text-right" data-bind="text: $index()+1"></b>
                                                    <div class="col-sm-11" style="word-wrap: break-word;" data-bind="html: option"></div>
                                                <!-- /ko -->
                                                <!-- ko case: $default -->
                                                    <b class="col-sm-1 text-right" data-bind="text: String.fromCharCode($index()+65)"></b>
                                                    <div class="col-sm-11" style="word-wrap: break-word;" data-bind="html: option"></div>
                                                <!-- /ko -->
                                            <!-- /ko -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- ko if: sub_content_type_id == 11 && oral_dict.options && oral_dict.options.length > 0 -->
                        <div class="form-group">
                            <label class="col-sm-1 control-label">选项：</label>
                            <div class="col-sm-10 form_option_text" data-bind="foreach: oral_dict.options">
                                <div class="row">
                                    <div class="col-sm-8">
                                        <div class="row">
                                            <div class="col-sm-1" data-bind="text: String.fromCharCode($index()+65)"></div>
                                            <div class="col-sm-11" data-bind="text: '显示内容: ' + text"></div>
                                            <!-- ko foreach: voice_texts -->
                                            <div class="col-sm-1"></div>
                                            <div class="col-sm-11" data-bind="text: 'Voice text: ' + $data"></div>
                                            <!-- /ko -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /ko -->
                        <!-- ko if: sub_content_type_id == 12 -->
                        <div class="form-group">
                            <label class="col-sm-1 control-label">Voice text：</label>
                            <div class="col-sm-10 form_option_text">
                                <div class="row">
                                    <div class="col-sm-8">
                                        <div class="row">
                                            <div class="col-sm-8" data-bind="text: oral_dict.voice_text"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /ko -->
                        <!-- ko if: sub_content_type_id == 13 && oral_dict.options && oral_dict.options.length > 0 -->
                        <div class="form-group">
                            <label class="col-sm-1 control-label">选项：</label>
                            <div class="col-sm-10 form_option_text" data-bind="foreach: oral_dict.options">
                                <div class="row">
                                    <!-- ko if: role_type == 1 -->
                                    <div class="col-sm-8">
                                        <div class="row">
                                            <div class="col-sm-4"><--- 作答角色 ---></div>
                                            <div class="col-sm-8"></div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-4">角色名称: </div>
                                            <div class="col-sm-8" data-bind="text: name"></div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-4">显示内容: </div>
                                            <div class="col-sm-8" data-bind="text: text"></div>
                                        </div>
                                        <!-- ko foreach: voice_texts -->
                                        <div class="row">
                                            <div class="col-sm-4">Voice text: </div>
                                            <div class="col-sm-8" data-bind="text: $data"></div>
                                        </div>
                                        <!-- /ko -->
                                        <div class="row">
                                            <div class="col-sm-4">作答时间: </div>
                                            <div class="col-sm-8" data-bind="text: seconds ? seconds + '秒' : ''"></div>
                                        </div>
                                    </div>
                                    <!-- /ko -->
                                    <!-- ko if: role_type == 2 -->
                                    <div class="col-sm-8">
                                        <div class="row">
                                            <div class="col-sm-4"><--- 非作答角色 ---></div>
                                            <div class="col-sm-8"></div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-4">角色名称: </div>
                                            <div class="col-sm-8" data-bind="text: name"></div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-4">显示内容: </div>
                                            <div class="col-sm-8" data-bind="text: text"></div>
                                        </div>
                                        <!-- ko if: listen_url.length > 0 -->
                                        <div class="row">
                                            <div class="col-sm-4">多媒体: </div>
                                            <div class="col-sm-8" data-bind="text: listen_name"></div>
                                            <div class="col-sm-12">
                                                <audio preload="none" data-bind="attr: { src: listen_url }" controls></audio>
                                            </div>
                                        </div>
                                        <!-- /ko -->
                                    </div>
                                    <!-- /ko -->
                                </div>
                                <br/>
                            </div>
                        </div>
                        <!-- /ko -->
                        <!-- ko if: sub_content_type_id == 14 && oral_dict.options && oral_dict.options.length > 0 -->
                        <div class="form-group">
                            <label class="col-sm-1 control-label">跟读内容：</label>
                            <div class="col-sm-10 form_option_text" data-bind="foreach: oral_dict.options">
                                <div class="row">
                                    <div class="col-sm-8">
                                        <div class="row">
                                            <div class="col-sm-4">显示内容: </div>
                                            <div class="col-sm-8" data-bind="text: text"></div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-4">Voice text: </div>
                                            <div class="col-sm-8" data-bind="text: voice_text"></div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-4">作答时间: </div>
                                            <div class="col-sm-8" data-bind="text: seconds ? seconds + '秒' : ''"></div>
                                        </div>
                                        <!-- ko if: listen_url.length > 0 -->
                                        <div class="row">
                                            <div class="col-sm-4">多媒体: </div>
                                            <div class="col-sm-8" data-bind="text: listen_name"></div>
                                            <div class="col-sm-12">
                                                <audio preload="none" data-bind="attr: { src: listen_url }" controls></audio>
                                            </div>
                                        </div>
                                        <!-- /ko -->
                                    </div>
                                </div>
                                <br/>
                            </div>
                        </div>
                        <!-- /ko -->
                        <!-- ko if: sub_content_type_id == 15 -->
                        <div class="form-group">
                            <label class="col-sm-1 control-label">跟读内容：</label>
                            <div class="col-sm-10 form_option_text">
                                <div class="row">
                                    <div class="col-sm-8">
                                        <div class="row">
                                            <div class="col-sm-4">变量: </div>
                                            <!-- ko foreach: oral_dict.variables -->
                                            <div class="col-sm-12" data-bind="text: $data"></div>
                                            <!-- /ko -->
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-4">句式: </div>
                                            <!-- ko foreach: oral_dict.sentence_patterns -->
                                            <div class="col-sm-12" data-bind="text: $data"></div>
                                            <!-- /ko -->
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-4">关键字: </div>
                                            <!-- ko foreach: oral_dict.keywords -->
                                            <div class="col-sm-12" data-bind="text: $data"></div>
                                            <!-- /ko -->
                                        </div>
                                    </div>
                                </div>
                                <br/>
                            </div>
                        </div>
                        <!-- /ko -->

                        <!-- ko if: sub_content_type_id != 12 && sub_content_type_id != 13 && sub_content_type_id != 14 && sub_content_type_id != 15 -->
                        <div class="form-group">
                            <label class="col-sm-1 control-label">答案：</label>
                            <div class="col-sm-10 form_option_text">
                                <!-- ko foreach : answers-->
                                    <!-- ko switch: $parent.sub_content_type_id+'' -->
                                        <!-- ko case: ['1','2','3','5','11'] -->
                                        <div>
                                            <b style="word-wrap: break-word;" data-bind="html: String.fromCharCode(1*$data.answer+65)"></b>
                                            <span data-bind="text: '（分值：'+score_percentage+'）'"></span>
                                        </div>
                                        <!-- /ko -->
                                        <!-- ko case: '4' -->
                                        <div>
                                            <span data-bind="text: '第'+($index()+1)+'空：'"></span>
                                            <b style="word-wrap: break-word;" data-bind="html: $data.answer=='' ? '空' : $data.answer"></b>
                                            <span data-bind="text: '（分值：'+score_percentage+'）'"></span>
                                        </div>
                                        <!-- /ko -->
                                        <!-- ko case: '10' -->
                                        <div>
                                            <span data-bind="text: '第'+($index()+1)+'空：'"></span>
                                            <b style="word-wrap: break-word;" data-bind="html: String.fromCharCode(1*$data.answer+65)"></b>
                                            <span data-bind="text: '（分值：'+score_percentage+'）'"></span>
                                        </div>
                                        <!-- /ko -->
                                        <!-- ko case: $default -->
                                        <div>
                                            <b style="word-wrap: break-word;" data-bind="html: $data.answer=='' ? '空' : $data.answer"></b>
                                            <span data-bind="text: '（分值：'+score_percentage+'）'"></span>
                                        </div>
                                        <!-- /ko -->
                                    <!-- /ko -->
                                    <b class="dib margin-top vat">主知识点：</b>
                                    <!-- ko if: typeof $parents[1].could_edit_goal != 'undefined' && $parents[1].could_edit_goal -->
                                    <ul class="dib p_0 list-unstyled margin-top" data-bind="foreach: knowledge_points">
                                        <!-- ko if: main==1 -->
                                        <li>
                                            <span class="label label-info" data-bind="text: name"></span>
                                            <div class="dib goaltag" data-bind="visible: tag_id != 0">
                                                <i>——</i>
                                                <span class="label label-danger golatext pr_24" data-bind="text: 'Goal标签：'+tag_name"></span>
                                                <a href="javascript:void(0);" class="glyphicon glyphicon-remove" data-bind="click: $parents[3].removeGoalTags.bind($data, $parents[2]._id, 0, $parentContext.$index(), id, $parents[2].updated_at)"></a>
                                            </div>
                                            <a href="javascript:void(0);" class="markgoal" data-bind="click: $parents[3].getGoalTags.bind($data, $parents[2]._id, $parents[1], $parentContext.$index(), id, $parents[2].updated_at)">标记goal标签</a>
                                        </li>
                                        <!-- /ko -->
                                    </ul>
                                    <!-- /ko -->
                                    <!-- ko if: typeof $parents[1].could_edit_goal == 'undefinded' || typeof $parents[1].could_edit_goal != 'undefinded'&&!$parents[1].could_edit_goal -->
                                    <ul class="dib p_0 list-unstyled" data-bind="foreach: knowledge_points">
                                        <!-- ko if: main==1 -->
                                        <li>
                                            <span class="label label-info" data-bind="text: name"></span>
                                            <div class="dib goaltag" data-bind="visible: tag_id != 0">
                                                <i>——</i>
                                                <span class="label label-danger golatext" data-bind="text: 'Goal标签：'+tag_name"></span>
                                            </div>
                                        </li>
                                        <!-- /ko -->
                                    </ul>
                                    <!-- /ko -->
                                    <br>
                                    <b class="dib vat">知识点：</b>
                                    <ul class="dib p_0 mb_10 list-unstyled" data-bind="foreach: knowledge_points">
                                        <li class="label label-info" data-bind="text: name"></li>
                                    </ul>
                                <!-- /ko-->
                            </div>
                        </div>
                        <!-- /ko -->

                        <div class="form-group" data-bind="visible: oral_dict && oral_dict.seconds">
                            <label class="col-sm-1 control-label">作答时间：</label>
                            <div class="col-sm-10 form_option_text">
                                <div class="row">
                                    <div class="col-sm-6" data-bind="text: oral_dict.seconds"></div>
                                </div>
                            </div>
                        </div>

                        <!-- ko ifnot: typeof analysis_list != 'undefined' && analysis_list.length > 0 -->
                        <div class="form-group" data-bind="if: analysis">
                            <label class="col-sm-1 control-label">解析：</label>
                            <div class="col-sm-10 form_option_text" style="word-wrap: break-word;" data-bind="html: analysis"></div>
                        </div>
                        <!-- /ko -->
                        <!-- ko if: typeof analysis_list != 'undefined' && analysis_list.length > 0 -->
                        <!-- ko foreach: analysis_list -->
                            <!-- ko ifnot: choice_contents.length > 0 -->
                            <div class="form-group" data-bind="if: text.length > 0">
                                <label class="col-sm-1 control-label" data-bind="text: analysis_type + '：'"></label>
                                <div class="col-sm-10 form_option_text" style="word-wrap: break-word;" data-bind="html: text"></div>
                            </div>
                            <!-- /ko -->
                            <!-- ko if: choice_contents.length > 0 -->
                            <!-- ko foreach: choice_contents -->
                            <div class="form-group">
                                <label class="col-sm-1 control-label" data-bind="text: $index() == 0 ? $parent.analysis_type + '：' : ''"></label>
                                <div class="col-sm-10 form_option_text" data-bind="text: $data"></div>
                            </div>
                            <!-- /ko -->
                            <!-- /ko -->
                        <!-- /ko -->
                        <!-- /ko -->

                        <!-- ko if: $parent.complex == 1 && $parent.could_edit -->
                        <div class="form-group">
                            <label class="col-sm-1 control-label"></label>
                            <div class="col-sm-1">
                                <a class="btn btn-block btn-primary" target="_blank" data-bind="attr: { href: '/xx/questions/edit_complex_sub?question_id=' + $parent._id + '&sub_index=' + $index() }">编辑</a>
                            </div>
                            <div class="col-sm-1">
                                <button class="btn btn-block" data-bind="click: $parents[1].removeSubQuestion.bind($data, $parent._id, $index(), $parent.content.sub_contents)">删除</button>
                            </div>
                        </div>
                        <!-- /ko -->
                    </div>
                </div>
                <!-- /ko -->
                
                <div class="form-group" data-bind="if: difficulty">
                    <label class="col-sm-1 control-label">难度：</label>
                    <div class="col-sm-10 form_option_text" data-bind="text: difficulty"></div>
                </div>

                <!-- ko if subject_id > 199 -->
                <div class="form-group" data-bind="if: typeof question_type != 'undefined'">
                    <label class="col-sm-1 control-label">前端是否显示：</label>
                    <div class="col-sm-10 form_option_text" data-bind="text: question_type == 0 ? '不显示' : '显示'"></div>
                </div>
                <!-- /ko -->

                <!-- ko if: typeof seconds != 'undefined'-->
                <div class="form-group">
                    <label class="col-sm-1 control-label">作答时间：</label>
                    <div class="col-sm-10 form_option_text" data-bind="text: seconds + '秒'"></div>
                </div>
                <!-- /ko -->

                <div class="form-group" data-bind="visible: content.analysis">
                    <label class="col-sm-1 control-label">大题解析：</label>
                    <div class="col-sm-10 form_option_text" style="word-wrap: break-word;" data-bind="html: content.analysis"></div>
                </div>

                <div class="form-group" data-bind="if: knowledge_points.length>0">
                    <label class="col-sm-1 control-label">题目主知识点：</label>
                    <!-- ko if: typeof could_edit_goal != 'undefined' && could_edit_goal -->
                    <div class="col-sm-10 form_option_text">
                        <ol class="list-inline" data-bind="foreach: knowledge_points">
                            <!-- ko if: main==1 -->
                            <li>
                                <span class="label label-info" data-bind="text: name"></span>
                                <div class="dib goaltag" data-bind="visible: tag_id != 0">
                                    <i>——</i>
                                    <span class="label label-danger golatext pr_24" data-bind="text: 'Goal标签：'+tag_name"></span>
                                    <a href="javascript:void(0);" class="glyphicon glyphicon-remove" data-bind="click: $parents[1].removeGoalTags.bind($data, $parent._id, -1, -1, id, $parent.updated_at)"></a>
                                </div>
                                <a href="javascript:void(0);" class="markgoal" data-bind="click: $parents[1].getGoalTags.bind($data, $parent._id, -1, -1, id, $parent.updated_at)">标记goal标签</a>
                            </li>
                            <!-- /ko -->
                        </ol>
                    </div>
                    <!-- /ko -->
                    <!-- ko if: typeof could_edit_goal == 'undefined' || typeof could_edit_goal != 'undefined'&&!could_edit_goal -->
                    <div class="col-sm-10 form_option_text">
                        <ol class="list-inline" data-bind="foreach: knowledge_points">
                            <!-- ko if: main==1 -->
                            <li>
                                <span class="label label-info" data-bind="text: name"></span>
                                <div class="dib goaltag" data-bind="visible: tag_id != 0">
                                    <i>——</i>
                                    <span class="label label-danger golatext" data-bind="text: 'Goal标签：'+tag_name"></span>
                                </div>
                            </li>
                            <!-- /ko -->
                        </ol>
                    </div>
                    <!-- /ko -->
                </div>

                <div class="form-group" data-bind="if: knowledge_points.length>0">
                    <label class="col-sm-1 control-label">题目知识点：</label>
                    <div class="col-sm-10 form_option_text">
                        <ol class="list-inline" data-bind="foreach: knowledge_points">
                            <li class="label label-info" data-bind="text: name"></li>
                        </ol>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-1 control-label">评审结果：</label>
                    <div class="col-sm-10">
                        <ul class="list-group list-unstyled" data-bind="foreach: audit.history">
                            <li>
                                <div class="col-sm-12 margin-bottom form_option_text">
                                    <span class="label label-primary mr_20" data-bind="text: stage_text"></span>
                                    <span class="label label-danger mr_20" data-bind="if: score==1">不及格</span>
                                    <span class="label label-warning mr_20" data-bind="if: score==3">及格</span>
                                    <span class="label label-success mr_20" data-bind="if: score==5">优秀</span>
                                    <b>错误位置：</b>
                                    <span data-bind="text: positions_text"></span>      
                                </div>
                                <div class="col-sm-12">
                                    <b>原因：</b>
                                    <span class="mr_20" style="word-wrap: break-word;" data-bind="html: reason"></span>
                                    <b>审核员：</b>
                                    <span class="mr_20" data-bind="text: auditor.name"></span>
                                    <b>审核时间：</b>
                                    <span data-bind="text: created_at"></span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

            </form>
        </div>
    </div>
{% endmacro %}

<!--试题权限及审核控制-->
{% macro controlLimit(from) %}
<button class="btn btn-primary pull-right" data-bind="click: $parent.onlineCheck">上线校验</button>
<button class="btn btn-success onlinebtn pull-right mr_10" data-bind="click: $parent.online, visible: ol_status==3">上线</button>
<button class="btn btn-danger offlinebtn pull-right mr_10" data-bind="click: $parent.offline, visible: $.inArray(ol_status, [0,1,2,4])>=0">下线</button>
<div class="btn-group pull-right mr_10" role="group">
    <!-- ko if: content.sub_contents.length > 0 && content.sub_contents[0].sub_content_type_id!=6 -->
    <a class="btn btn-success" target="_blank" data-bind="click: $parent.mobilePreview.bind($data, _id)">手机预览</a>
    <!-- /ko -->
    <a class="btn btn-info" target="_blank" data-bind="attr: { href: '/xx/questions/preview-pc-wrap?question_id=' + _id }">PC预览</a>
    <!-- ko if: could_edit -->
    <a class="btn btn-primary editbtn" target="_blank" href="javascript:void(0);" data-bind="attr: { href: '/xx/questions/edit?question_id=' + _id }">编辑</a>
    <!-- /ko -->
    <!-- ko if: could_rough_audit -->
    <a class="btn btn-success roughbtn" target="_blank" href="javascript:void(0);" data-bind="click: $parent.audit.bind($data, 'rough')">初审</a>
    <!-- /ko -->
    <!-- ko if: could_final_audit -->
    <a class="btn btn-info finalbtn" target="_blank" href="javascript:void(0);" data-bind="click: $parent.audit.bind($data, 'final')">终审</a>
    <!-- /ko -->
    <!-- ko if: could_direct_final_audit -->
    <a class="btn btn-warning directbtn" target="_blank" href="javascript:void(0);" data-bind="click: $parent.audit.bind($data, 'direct_final')">直接终审</a>
    <!-- /ko -->
    <!-- ko if: could_delete && '{{ from }}' != 'from_paper' -->
    <a class="btn btn-danger removebtn" href="javascript:void(0);" data-bind="click: $parent.remove.bind($data, $parent.question_list)">删除</a>
    <!-- /ko --><!---->
    <!-- ko if: complex == 1 -->
    <a class="btn btn-info" target="_blank" data-bind="attr: { href: '/xx/questions/edit_complex_sub?question_id=' + _id }">添加子题目</a>
    <!-- /ko -->
</div>
{% endmacro %}

{% macro questionList(from) %}
<div class="panel-group" data-bind="foreach: question_list, visible: question_list().length>0" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default questionitem">
        <div class="panel-heading" role="tab" data-bind="attr: {id: $parentContext.$index ? 'heading_'+$parentContext.$index()+'_'+$index() : 'heading_'+$index()}">
            <h4 class="panel-title row">
                <a class="col-sm-1" data-toggle="collapse" data-parent="#accordion" data-bind="attr: {href: $parentContext.$index ?  '#collapse_'+$parentContext.$index()+'_'+$index() : '#collapse_'+$index(), 'aria-controls': $parentContext.$index ?  'collapse_'+$parentContext.$index()+'_'+$index() : 'collapse_'+$index()}" aria-expanded="true">
                    <span class="caret"></span>
                    <!-- ko if: typeof number != 'undefined' -->
                    <span data-bind="text: ' 第 ' + number + ' 题'"></span>
                    <!-- /ko -->
                    <!-- ko ifnot: typeof number != 'undefined' -->
                        <!-- ko if: typeof number_text != 'undefined' -->
                        <span data-bind="text: ' 第 ' + number_text + ' 题'"></span>
                        <!-- /ko-->
                    <!-- /ko-->
                </a>
                <div class="pull-left mr_20">审核状态：<span class="status_text" data-bind="text: status_text"></span></div>
                <div class="pull-left">线上库状态：<span class="ol_status_text" data-bind="text: ol_status_text"></span></div>
                {% if from != 'duplicate-list' and from != 'duplicate-list-resource' and from != 'goal' %}
                    {{ controlLimit() }}
                    <div class="col-sm-2 col-sm-offset-1 p_0" style="clear:both;">
                        <label class="radio-inline">
                            <input type="checkbox" data-bind="checked: not_fit_mobile==1, event: {change: $parent.set_mobile_fit.bind($data)}">
                            <small class="text-danger">不适合在手机上显示</small>
                        </label>
                    </div>
                    <div class="col-sm-2 p_0">
                        <label class="radio-inline">
                            <input type="checkbox" data-bind="checked: keep_version==1, event: {change: $parent.keepVersion.bind($data)}">
                            <small class="text-danger">更新后题目ID不变</small>
                        </label>
                    </div>
                {%else%}
                    {% if from=='goal' %}
                        <a class="btn btn-primary pull-right" target="_blank" href="javascript:void(0);" data-bind="attr: { href: '/xx/questions/edit?question_id=' + _id }" style="color:#FFF;">编辑</a>
                    {% endif %}
                    <div class="btn-group pull-right" rol="group">
                        <!-- ko if: content.sub_contents.length > 0 && content.sub_contents[0].sub_content_type_id!=6 -->
                        <a class="btn btn-success" target="_blank" data-bind="click: $parent.mobilePreview ? $parent.mobilePreview.bind($data, _id) : $parents[1].mobilePreview.bind($data, _id)">手机预览</a>
                        <!-- /ko -->
                        <a class="btn btn-info mr_10" target="_blank" data-bind="attr: { href: '/xx/questions/preview-pc-wrap?question_id=' + _id }">PC预览</a>
                    </div>
                    {% if from=='duplicate-list' %}
                        <button class="btn btn-primary pull-right mr_10 addpaper" data-bind="click: $parent.addPaper ? $parent.addPaper.bind($data) : $parents[1].addPaper.bind($data)">添加所属试卷</button>
                    {% endif %}
                {% endif %}
            </h4>
        </div>

        {{ showTitleDetaile(from) }}

    </div>
</div>
<div class="text-center" data-bind="visible: question_list().length==0">
    暂无数据
</div>
{% endmacro %}

<!--审核弹出框模板-->
{% macro auditForm() %}
<template id="auditform" type="text/html">
<form class="form-horizontal">
    <div class="row">
        <label class="control-label col-sm-2">打分：</label>
        <div class="col-sm-10 form_option_text">
            <input type="radio" name="dafen" id="bujige" value="1" /><label for="bujige" class="mr_20">不及格</label>
            <input type="radio" name="dafen" id="jige" value="3" checked /><label for="jige" class="mr_20">及格</label>
            <input type="radio" name="dafen" id="youxiu" value="5" /><label for="youxiu" class="mr_20">优秀</label>
        </div>
        <label class="control-label col-sm-2">错误位置：</label>
        <div class="col-sm-10 form_option_text">
            <input type="checkbox" name="weizhi" id="weizhi_1" value="1" /><label for="weizhi_1" class="mr_20">题干</label>
            <input type="checkbox" name="weizhi" id="weizhi_2" value="2" /><label for="weizhi_2" class="mr_20">子题目</label>
            <input type="checkbox" name="weizhi" id="weizhi_3" value="3" /><label for="weizhi_3" class="mr_20">选项</label>
            <input type="checkbox" name="weizhi" id="weizhi_4" value="4" /><label for="weizhi_4" class="mr_20">答案</label>
            <input type="checkbox" name="weizhi" id="weizhi_5" value="5" /><label for="weizhi_5" class="mr_20">知识点</label>
            <input type="checkbox" name="weizhi" id="weizhi_6" value="6" /><label for="weizhi_6" class="mr_20">解析</label>
            <input type="checkbox" name="weizhi" id="weizhi_7" value="7" /><label for="weizhi_7">材料</label>
        </div>
        <label class="control-label col-sm-2">原因：</label>
        <div class="col-sm-10 form_option_text">
            <script id="reasoneditor" type="text/plain"></script>
        </div>
        <label class="control-label col-sm-2">&nbsp;</label>
        <div class="col-sm-10 form_option_text">
            （ctrl+v 可粘贴截图）
        </div>
    </div>
</form>
</template>
{% endmacro %}

{% macro resourcePreview() %}
<!-- ko if: creator_name -->
<div class="form-group">
    <label class="col-sm-2 control-label">材料录入：</label>
    <div class="col-sm-10 form-control-static" data-bind="text: creator_name"></div>
</div>
<!-- /ko -->

<div class="form-group">
    <label class="col-sm-2 control-label">材料类型：</label>
    <div class="col-sm-10 form-control-static" data-bind="text: resource_type"></div>
</div>

<div class="form-group">
    <label class="col-sm-2 control-label">所属试卷：</label>
    <div class="col-sm-10 form-control-static" data-bind="text: paper.title"></div>
</div>

<!-- ko if: (resource_type_id == 1 || resource_type_id == 3) && url.length > 0 -->
<div class="form-group">
    <label class="col-sm-2 control-label">听力材料：</label>
    <div class="col-sm-8">
        <audio preload="none" data-bind="attr: { src: url }" controls></audio>
    </div>
</div>
<!-- /ko -->

<!-- ko if: resource_type_id != 1 -->
<div class="form-group">
    <label class="col-sm-2 control-label">材料内容：</label>
    <div class="col-sm-8">
        <p class="form-control-static bg-info" style="word-break: break-all;" data-bind="html: text"></p>
    </div>
</div>
<!-- /ko -->

<div class="form-group">
    <label class="col-sm-2 control-label">
        <!-- ko if: resource_type_id == 1 || resource_type_id == 3-->
        听力原文：
        <!-- /ko -->
        <!-- ko if: resource_type_id == 2-->
        原文翻译：
        <!-- /ko -->
        <!-- ko if: resource_type_id == 4-->
        语篇解读：
        <!-- /ko -->
    </label>
    <div class="col-sm-8">
        <p class="form-control-static bg-info" style="word-break: break-all;" data-bind="html: description"></p>
    </div>
</div>

<!-- ko if: resource_type_id == 4 && typeof writing_style_name != 'undefined' && writing_style_name.length > 0 -->
<div class="form-group">
    <label class="col-sm-2 control-label">体裁：</label>
    <div class="col-sm-8">
        <p class="form-control-static" style="word-break: break-all;" data-bind="text: writing_style_name"></p>
    </div>
</div>
<!-- /ko -->

<div class="form-group">
    <label class="col-sm-2 control-label">主知识点：</label>
    <div class="col-sm-8 form-control-static">
        <ul class="dib p_0" data-bind="foreach: knowledge_points">
            <!-- ko if: main == 1 -->
            <li class="label label-info" data-bind="text: name "></li>
            <!-- /ko -->
        </ul>
    </div>
</div>

<div class="form-group">
    <label class="col-sm-2 control-label">知识点：</label>
    <div class="col-sm-8 form-control-static">
        <ul class="dib p_0" data-bind="foreach: knowledge_points">
            <!-- ko if: main != 1 -->
            <li class="label label-info" data-bind="text: name "></li>
            <!-- /ko -->
        </ul>
    </div>
</div>
{% endmacro %}
